body {
    color: blue;
}

.todoapp h1 {
    color: rgba(175, 47, 47, 0.15);
    font-size: 100px;
    top: -155px;
}

.info {
    color: #bfbfbf;
}

#page-container {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}

#content-container {
  min-height: 100vh;
  min-width: 100vw;
  padding-bottom: 4rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #777;
  height: 2.5rem;   
           /* Footer height */
}
#messages{
  background-color: rgb(131, 120, 120);
  width: 60vw;
  height: 20vh;
  overflow: auto;
  box-shadow: 0px 0px 5px 5px #888888;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
.grid-row {
display: flex;
}
.container {
  /* width: 620px;
  height: 408px; */
}
.grid-cell {
  width: 36px;
  height: 36px;
  align-items: center;
}
.game-grid {
  position: relative;
}


/* <---------------GridMap images-----------------------> */
.main-wall {
    background-image: url("./public/images/map/main-wall.png");
    background-size: cover;
}
.grey-wall {
    background-image: url("./public/images/map/grey-wall.png");
    background-size: cover;
}
.grass {
    background-image: url("./public/images/map/grass.png");
    background-size: cover;
}
.soft-wall {
    background-image: url("./public/images/map/soft-wall.png");
    background-size: cover;
}

.hud-2-pl {
  background-image: url("./public/images/map/hud-2-pl.png");
  background-size:contain;
  height:80px;
}

.hud-3-pl {
  background-image: url("./public/images/map/hud-3-pl.png");
  background-size: contain;  
  height:80px;
}
.hud-4-pl {
  background-image: url("./public/images/map/hud-4-pl.png");
  background-size: contain;  
  height: 80px;
}


/* <---------------PowerUp images-----------------------> */


.power-up-bombs {
  background-image: url("./public/images/power-ups/bombs-power-up.png");
  background-size: cover;
}

.power-up-flames {
background-image: url("./public/images/power-ups/flames-power-up.png");
background-size: cover;
}

.power-up-speed {
background-image: url("./public/images/power-ups/speed-power-up.png");
background-size: cover;
}


/* <---------------Player 1 images-----------------------> */

.player-1 {
  background-image: url("./public/images/players/player-1/pl-1-down-still.png");
  background-size: cover;
position: absolute;
width: 36px;
height: 36px;

}

/* <---------------Player 2 images-----------------------> */

.player-2 {
  background-image: url("./public/images/players/player-2/pl-2-down-still.png");
  background-size: cover;
position: absolute;
width: 36px;
height: 36px;
}

/* <---------------Player 3 images-----------------------> */

.player-3 {
  background-image: url("./public/images/players/player-3/pl-3-down-still.png");
  background-size: cover;
position: absolute;
width: 36px;
height: 36px;
}

/* <---------------Player 4 images-----------------------> */

.player-4 {
  background-image: url("./public/images/players/player-4/pl-4-down-still.png");
  background-size: cover;
position: absolute;
width: 36px;
height: 36px;
}