body {
    color: blue;
}

.todoapp h1 {
    color: rgba(175, 47, 47, 0.15);
    font-size: 100px;
    top: -155px;
}

.info {
    color: #bfbfbf;
}

.footer {
    color: #777;
}

  body {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          margin: 0;
          height: 100vh;
          width: 100%;
        }
        .grid-row {
        display: flex;
        }
        .container {
          /* width: 620px;
          height: 408px; */
        }
  .grid-cell {
    width: 36px;
    height: 36px;
  }
  .tile-wall {
      background-image: url("./public/images/map/main-wall.png");
      background-size: cover;
  }
  .tile-grey {
      background-image: url("./public/images/map/grey-wall.png");
      background-size: cover;
  }
  .tile-grass {
      background-image: url("./public/images/map/grass.png");
      background-size: cover;
  }
  .tile-block {
      background-image: url("./public/images/map/destroyable-block.png");
      background-size: cover;
  }
  .player {
      background-image: url("./public/images/players/player-1/pl-1-still.png");
      background-size: cover;
  }

  .hud-2-pl {
    background-image: url("./public/images/hud-2-pl.png");
    background-size:contain;
    height:80px;
  }

  .hud-3-pl {
    background-image: url("./public/images/hud-3-pl.png");
    background-size: contain;  
    height:80px;
  }
  .hud-4-pl {
    background-image: url("./public/images/hud-4-pl.png");
    background-size: contain;  
    height: 80px;
  }